body {
  font-family: "DM Sans", sans-serif;
  background-color: #000000;
  color: white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Onest", sans-serif;
}

code,
pre {
  font-family: "DM Mono", monospace;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  border-bottom: 0.4px solid #3d3d3d;
  display: flex;
  align-items: center;
  padding-top: 0.35em;
  padding-left: 1em;
  padding-bottom: 0.1em;
}
.navbar-logo img {
  height: 48px;
  width: auto;
}

.container {
  display: flex;
  margin-top: 64px;
  gap: 2rem;
  padding: 2rem;
}

.sidebar {
  position: fixed;
  top: 71px;
  width: 250px;
  height: calc(100vh - 64px);
  overflow-y: auto;
  border-right: 1px solid #3d3d3d;
  z-index: 99;
}

.section-label {
  color: #9d8fff;
  padding-top: 1.95rem;
  font-weight: 500;
  font-size: 0.88rem;
  margin: 0;
  border: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar a {
  display: block;
  font-weight: 100;
  font-size: 0.875rem;
  padding: 0.55rem 0;
  color: #f5f6f8;
  text-decoration: none;
}

.sidebar a:hover {
  color: #6b5bff;
}

.breadcrumb {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 14px;
  color: #6b5bff;
}

.breadcrumb span a {
  color: #4b5563;
}

.breadcrumb a {
  color: #6b5bff;
  text-decoration: none;
}

.breadcrumb span {
  color: #4b5563;
}

.content {
  margin-left: 250px;
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

nav li,
.navbar li,
.sidebar li {
  list-style: none;
}
